@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo:wght@100&display=swap');

* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Anton', sans-serif;
font-family: 'Heebo', sans-serif;
}
body {
    background: #000;
}


.ul-nav {
    margin-top: -100px;
    text-align: center;
    position: fixed;
    z-index: 1000;
    background:  rgba(0,0,0,.9);
    width: 100%;
    margin-top: 0px;
}

.ul-nav li a {
    color: #fff;
    font-size: 30px;
}

.lenguajes {
    text-align: center;
    user-select: none;
}

.lenguajes img{
    position: relative;
    bottom: -60px;
    margin: auto;
    margin-top: 130px;
}

.nodejs {
    position: relative;
    top: -50px;
}

.fondo-blanco {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 4%);
    width: 100%;
    height: 850px;
}
.about-me {
    position: relative;
    bottom: -150px;
}

.about-title {
    text-align: center;
    position: relative;
    bottom: -30px;
    font-size: 45px;
}

.container-text{
    margin-top: 50px;
    text-align: center;
}

.projects {
    position: relative;
    bottom: -150px;
}

.projects-title {
    position: relative;
    bottom: -30px;
    margin-top: 50px;
}

.projects-img {
    border: 1px solid #d6d6d6;
    border-radius: 10px;
}

.lenguajes {
    margin-top: -140px;
}

@media (max-width: 1513px) {
    .projects-img {
        display: block;
        margin: auto;
    }
    .fondo-blanco {
        height: 1260px;
    }

}


@media (max-width: 900px) {
    .ul-nav li a img{
        width: 100px;
        height: 105px;
    }

    
    .ul-nav li a {
        font-size: 27px;
    }


}


@media (max-width: 600px) {
    .ul-nav li a img{
        width: 80px;
        height: 85px;
    }

    .ul-nav li a {
        font-size: 23px;
    }

    .about-title {
        font-size: 35px;
    }

}

@media (max-width: 457px) {
    .ul-nav li a img{
        width: 70px;
        height: 75px;
    }

    .lenguajes-img{
        margin-top: 90px;
        width: 360px;
        height: 120px;
    }


}


@media (max-width: 500px) {
    .projects-img {
        width: 350px;
        height: 180px;
    }

    .fondo-blanco {
        height: 1200px;
    }

}


@media (max-width: 400px) {
    .lenguajes-img{
        margin-top: 80px;
        width: 330px;
        height: 110px;
    }

    .ul-nav li a {
        font-size: 20px;
    }

    .projects-img {
        width: 300px;
        height: 160px;
    }

    .fondo-blanco {
        height: 1180px;
    }

}


@media (max-width: 360px) {
    .lenguajes-img{
        margin-top: 70px;
        width: 290px;
        height: 100px;
    }

    .nodejs {
        margin-top: 50px;
    }

    .about-title {
        font-size: 30px;
    }

    .fondo-blanco {
        height: 1150px;
    }
}


@media (max-width: 330px) {
    .lenguajes-img{
        margin-top: 60px;
        width: 210px;
        height: 85px;
    }

    .nodejs {
        width: 230px;
        height: 130px;
    }

    .projects-img {
        width: 260px;
        height: 150px;
    }

    .fondo-blanco {
        height: 1120px;
    }
}

@media (max-width: 283px) {
    .lenguajes-img{
        margin-top: 60px;
        width: 180px;
        height: 70px;
    }

    .nodejs {
        width: 200px;
        height: 110px;
    }

    .about-title {
        font-size: 25px;
    }

    .projects-img {
        width: 250px;
        height: 140px;
    }

    .fondo-blanco {
        height: 1080px;
    }
}




